<form>
  <label>Id</label>
  <input name='id' type='text'/>
  <label> Mark</label>
  <input name= 'mark' type= 'text'/>
  <label>Model</label>
  <input name= 'model' type= 'text'/>
  <label>Year</label>
  <select>
    <option name= 'year' value='1990'>1990</option>
    <option name= 'year' value='1991'>1991</option>
    <option name= 'year' value='1992'>1992</option>
    <option name= 'year' value='1993'>1993</option>
    <option name= 'year' value='1994'>1994</option>
    <option name= 'year' value='1995'>1995</option>
    <option name= 'year' value='1996'>1996</option>
    <option name= 'year' value='1997'>1997</option>
    <option name= 'year' value='1998'>1998</option>
    <option name= 'year' value='1999'>1999</option>
    <option name= 'year' value='2000'>2000</option>
    <option name= 'year' value='2001'>2001</option>
    <option name= 'year' value='2002'>2002</option>
    <option name= 'year' value='2003'>2003</option>
    <option name= 'year' value='2004'>2004</option>
    <option name= 'year' value='2005'>2005</option>
    <option name= 'year' value='2006'>2006</option>
    <option name= 'year' value='2007'>2007</option>
    <option name= 'year' value='2009'>2009</option>
    <option name= 'year' value='2010'>2010</option>
    <option name= 'year' value='2011'>2011</option>
    <option name= 'year' value='2012'>2012</option>
    <option name= 'year' value='2013'>2013</option>
    <option name= 'year' value='2014'>2014</option>
    <option name= 'year' value='2015'>2015</option>
    <option name= 'year' value='2016'>2016</option>
    <option name= 'year' value='2017'>2017</option>
    <option name= 'year' value='2018'>2018</option>
  </select>

</form>
