<form (ngSubmit)="submitCar"(newCar)>
  <div type="form-group">
      <label for="mark">Mark</label>
      <input name="mark" type="text" [(ngModule)]="newCar.mark"/>
  </div>

  <div type="form-group">
      <label for="model" type="text">Model</label>
      <input name="model" type="text" [(ngModule)]="newCar.model"/>
  </div>

  <div type="form-group">
    <label name="year">Year</label>
      <select name="year" [(ngModule)]="newCar.year">
        <options *ngFor="let year as years" [value]="year">{{year}}</options>
      </select> 
  </div>

  <div type="form-group">
    <label name="maxSpeed">Maximal Speed </label>
    <input name="maxSpeed" type="number" [(ngModule)]="newCar.naxSpeed"/>
  </div>

  <div type="form-group">
    <label name="isAuthomatic">Is Authomatic</label>
    <input name="isAuthomatic" type="checkbox" [(ngModule)]="newCar.isAuthomatic"/>
  </div>

  <div type="form-group">
    <label name="engine">Engine</label>
    <label>
        <input name="engine" type="ratio" [(ngModule)]="newCar.engine"/>
        Diesel
    </label>
    <label>
        <input name="engine" type="ratio" [(ngModule)]="newCar.engine"/>
        Hybrid
    </label>
    <label>
        <input name="engine" type="ratio" [(ngModule)]="newCar.engine"/>
        Petrol
    </label>
    <label>
        <input name="engine" type="ratio" [(ngModule)]="newCar.engine"/>
        Electric
    </label>
  </div>

  <div type="form-grop">
    <label name="numberOfDoors">Number of doors</label>
      <input name="numberOfDoors" type="number" [(ngModule)]="newCar.numberOfDoor"/>
  </div>
  
</form>
